.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}


.btn-1 {
    background-color: #696969;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0.25rem;
}

.btn-1:hover {
    background-color: #414141;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0.25rem;
}


.card{
    display: flex;
    margin: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
    width: 17rem;
    border: solid 1px #aaa;
    border-radius: 0.50rem;
    background-color: #ffff;
}

.precio {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin: 2rem;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.saludo{
    padding: 1rem;
    text-align: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}